body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 0;
    margin-left: 50px;
    color: rgb(88, 88, 88);
}
span {
    color: orange;
    font-family: 'Akaya Kanadaka', cursive;
}
.flex-element {
    display: flex;
    margin-bottom: 150px;

}
.half-width {
    width: 50%;
}
#top-img {
    width: 80%;
    margin-left: 10%;
}
.flex-element p {
    margin-left: 50px;
}
.order-buttn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 50px;
}
#about-me-img {
    width: 50%;
    margin-left: 20%;
}
.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    margin-top: 10%;
    border-radius: 20px;
    margin-left: 50px;
}
#about-me-background-img {
    background-image: url(../images/shapes/Frame-59.jpg);
}
.about-me {
    margin-left: 50px;
    color: rgb(88, 88, 88);
}
.recipies {
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    text-align: center;
}
.recipies h2 {
    color: rgb(88, 88, 88);
}
.recipies-images {
    width: 60%;
    margin-left: 20%;
    margin-top: 3%;
}
.recipies-list {
    margin-left: 10%;
}
.box-element {
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 20px;
    box-shadow: 20px 20px 50px gray;
}
.subscribers {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 30px 30px 60px gray;
}
.subscribers div {
    margin-left: 10%;
    margin-right: 10%;
}
.subscribers small {
    text-align: right;
}
.subscribers-color {
    color: black;
    font-weight: bolder;
}
footer {
    background-color: #001427;
    padding-top: 1%;
    padding-bottom: 3%;
    text-align: center;
}
footer h2 {
    color: rgb(88, 88, 88);
}
footer p {
    color: white;
}