body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 40px;
    font-weight: bolder;
    padding-top: 0;
    margin-left: 50px;
    color: rgb(88, 88, 88);
}
span {
    color: orange;
    font-family: 'Akaya Kanadaka', cursive;
}
.flex-element {
    display: flex;
    margin-bottom: 150px;

}
.half-width {
    width: 50%;
}
#top-img {
    width: 80%;
    margin-left: 10%;
}
.flex-element p {
    margin-left: 50px;
}
.order-buttn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 50px;
}
#about-me-img {
    width: 50%;
    margin-left: 20%;
}
.contact-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    margin-top: 10%;
    border-radius: 20px;
    margin-left: 50px;
}
#about-me-background-img {
    background-image: url(../images/shapes/Frame-59.jpg);
}
.about-me {
    margin-left: 50px;
    color: rgb(88, 88, 88);
}